//宽屏图片展示//
.banner
  padding:50px 0;
  position relative
  z-index 999

.bg-img-decorate
  position absolute
  bottom 50px
  z-index -1

.introducr
  color:white
  word-wrap: break-word
  p
    text-indent 2em;
  .btn-sign-up
    display inline-block
    background-image: linear-gradient(to right bottom, #eb3349 0%, #050100 70%, #eb3349 100%);
    background-position: 0%;
    background-size: 200% 200%;
    border-radius: 50px;
    border none
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.2px;
    line-height: 1;
    min-width: 180px;
    padding: 20px 60px;
    text-transform: uppercase;
    margin-top 20px

//数据统计
.our-stats
  .stats-img
    padding-bottom 30px
  .stats-data
    color red
    font-size 26px
  .stats-msg
    font-size 18px

//关于我们
.about-us
  img
    padding-bottom 30px
  .about-card
    border 1px solid #efefef
    border-radius 10px
    padding 20px 10px
    height:240px
    .about-img
      width 100px

