//公共尾部
section(class="section bg-img pull-bg")
    div(class="footer container")
        div(class="col-md-4")
            img(src="img/SuperADS.png")
        div(class="col-md-2")
            h5 business
            p
                a() Native advertising
            p
                a() Alliance business
            p
                a() Media self voting
            p
                a() Developer liquidation
        div(class="col-md-2")
            h5 business
            p
                a() Native advertising
            p
                a() Alliance business
            p
                a() Media self voting
            p
                a() Developer liquidation
        div(class="col-md-2")
            h5 business
            p
                a() Native advertising
            p
                a() Alliance business
            p
                a() Media self voting
            p
                a() Developer liquidation
        div(class="col-md-2")
            h5 business
            p
                a() Native advertising
            p
                a() Alliance business
            p
                a() Media self voting
            p
                a() Developer liquidation
