//公共头部
header(class="header container-fluit")
    div(class="container")
        div(class="logo pull-left")
            a(href="index.html")
                img(src="img/logo-superads@4x.png" height="64px" alt="线条科技LOGO")
        ul(class="nav nav-tabs pull-right")
            li(role="presentation")
                a(href="#") Advertisers
            li(role="presentation")
                a(href="#") Publisher
            li(role="presentation")
                a(href="#") Out stats
            li(role="presentation")
                a(href="concact.html") Concat
            li(role="presentation")
                a(href="login.html") Login

